*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}body{
    width: 100%;
   
}
header{
    width: 100%;
    min-height: 50px;
    background-color: #333;
} h1{
    margin: 20px 30px;
    padding: 20px;
    font-size: 30px;
    text-decoration: none;
    text-align: center;
    color: white;
}
.container{ 
    margin: 120px 200px 120px 200px;
    background-color: rgb(64, 215, 241);
    padding: 20px;
    width: 1000px;
    min-height: 100px;
    opacity: .8;
    box-shadow: #333;
}
.form-group{
    margin: 10px; 
} 
input{
    width: 100%;
    border: solid 1px #333;
    padding: 15px 10px;
    height: 10px;
    font: inherit;
    border: 1px solid #ccc;
}input:focus {
    outline: none;
    border-color: #1b995e;
    background-color: #d7fdeb;
  }
button{
    width: 100%;
    margin: auto;
    padding: 20px;
    color: rgb(235, 44, 19);
    font-size: 20px;
    background-color: #f2f2f2;
    color: #333;
}button:active:hover{
    background-color:rgb(250, 37, 55) ;
    
}
